.myButton{
    margin: 2px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: #1d1c1c;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.myButton:hover{
    background-color: #242424;
    border: 1px solid #e92dd0;
    color:#e92dd0;
    font-weight: lighter;
}